# Compilados de Java
*.class

# Archivos de log
*.log

# BlueJ, NetBeans, Eclipse y otros IDEs
*.ctxt
*.project
*.classpath
*.settings/
.nb-gradle/
build/

# VS Code
.vscode/

# Maven
target/

# Gradle
.gradle/
build/

# Archivos temporales del sistema
*.swp
*.swo
.DS_Store
Thumbs.db

# Archivos de empaquetado
*.jar
*.war
*.ear


src/test/
